In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv("GSTATIC(Potentiostat).DTA",sep="\t",header=[56],name=["0","1",'Pt', 'T', 'Vf', 'Im',"Vu","Sig", 'Ach', 'IERange', 'Over', 'Temp'])

In [5]:
df

,Unnamed: 0,Pt,T,Vf,Im,Vu,Sig,Ach,IERange,Over,Temp
0,NaN,#,s,V vs. Ref.,A,V,V,V,#,bits,deg C
1,NaN,0,1,-1.62776E+000,-2.00138E-001,-2.19248E+000,-2.00025E+000,5.47994E-004,11,..........a,-327.68
2,NaN,1,2,-1.64216E+000,-2.00140E-001,-2.19256E+000,-2.00025E+000,5.46244E-004,11,..........a,-327.68
3,NaN,2,3,-1.64856E+000,-2.00142E-001,-2.19257E+000,-2.00025E+000,5.58128E-004,11,..........a,-327.68
4,NaN,3,4,-1.65496E+000,-2.00143E-001,-2.18734E+000,-2.00025E+000,5.48511E-004,11,..........a,-327.68
...,...,...,...,...,...,...,...,...,...,...,...
3596,NaN,3595,3596,-1.60136E+000,-2.00188E-001,-1.93126E+000,-2.00025E+000,3.16394E-004,11,..........a,-327.68
3597,NaN,3596,3597,-1.60376E+000,-2.00188E-001,-1.93088E+000,-2.00025E+000,3.15394E-004,11,..........a,-327.68
3598,NaN,3597,3598,-1.60256E+000,-2.00189E-001,-1.93178E+000,-2.00025E+000,3.17544E-004,11,..........a,-327.68
3599,NaN,3598,3599,-1.60376E+000,-2.00189E-001,-1.93101E+000,-2.00025E+000,3.18878E-004,11,..........a,-327.68
3600,NaN,3599,3600,-1.60056E+000,-2.00189E-001,-1.93358E+000,-2.00025E+000,3.20711E-004,11,..........a,-327.68